.products {
  padding-top: 67px;
  background-color: #fff;

  &__list-inner{
    text-align: center;
  }

  &__stars {
    display: none;
  }

  &__buttons {
    display: none;
  }

  &__descr {
    display: none;
  }

  &__title {
    @extend %title;
  }

  &__cards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 78px;
    grid-gap: 30px;
    margin-bottom: 184px;
  }
  &__card-img{
    object-fit: contain;
    width: 270px;
    height: 200px;
    padding: 0 20px;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0 38px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

    &:hover>.products__icons {
      opacity: 1;
    }

    &.products__card--list {
      flex-direction: row;
      box-shadow: none;
      margin-bottom: 80px;
      padding-bottom: 64px;

      .products__stars {
        display: block;
      }
    
      .products__buttons {
        display: block;
      }
    
      .products__descr {
        display: block;
      }

      .products__icons {
        display: none;
      }

      .products__list-inner {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-between;
      }

      .products__card-img {
        margin-right: 85px;
        margin-bottom: 0;
        width: 370px;
        height: 360px;
      }

      .products__card-name {
        margin-bottom: 27px;
        font-size: 40px;
      }

      .products__stars {
        margin-bottom: 35px;
      }

      .products__card-price {
        margin-bottom: 25px;
        font-size: 30px;
      }

      .products__descr {
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        max-width: 418px;
        overflow: hidden;
        margin-bottom: 25px;
      }
    }
  }

  &__button {
    width: 53px;
    height: 53px;
    background-color: #fff;
    transition: background-color .3s;
    margin-right: 7px;
    outline: #a3bbc8;

    &:hover {
      background-color: #a3bbc8;

      & path {
        fill: #FFF;
      }
    }

    &.products__button--active {
      background-color: #a3bbc8;

      & path {
        fill: #FFF;
      }
    }
  }

  &__card-img {
    margin-bottom: 56px;
  }

  &__card-name {
    @extend %dm-500;
    font-size: 16px;
    line-height: 40px;
    color: #243f4d;
    margin-bottom: 13px;
  }

  &__icons {
    @extend %flex-c;
    @extend %positionCenter;
    transform: translate(-50%, 30%);
    opacity: 0;
    transition: opacity .3s;

  }

  &__icon {
    position: relative;
    margin: 8px;

    & svg {
      @extend %positionCenter;
    }

    &:hover::before {
      background-color: $blue;
    }

    &:hover svg path {
      fill: #fff;
    }

    &::before {
      content: "";
      display: block;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: #fff;
      transition: background-color .3s;
    }
  }

  &__card-name {
    @extend %dm-500;
    line-height: 20px;
    color: #243f4d;
  }

  &__card-price {
    @extend %dm-700;
    color: $blue;
  }


  &__specials-inner {
    @extend %flex-b;
    column-gap: 30px;
  }

  &__special {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    height: 387px;
    background-color: $light;
  }

  &__special-img {
    position: absolute;
    bottom: 85px;
    left: 10%;
  }

  &__special-content {
    @extend %flex-c;
    flex-direction: column;
    max-width: 259px;
    align-items: flex-start;
    text-align: left;
    padding-top: 84px;
    margin-right: 165px;
    margin-left: auto;
  }

  &__special-name {
    @extend %dm-700;
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    margin-bottom: 19px;
  }

  &__special-text {
    @extend %dm-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 33px;
  }

}