.products {
  padding-top: 67px;
  background-color: #fff;

  @media (max-width: 425px) {
    padding-top: 15px;
  }

  &__list-inner {
    text-align: center;
  }

  &__stars {
    display: none;
  }

  &__buttons {
    display: none;
  }

  &__descr {
    display: none;
  }

  &__title {
    @extend %title;

    @media (max-width: 425px) {
      font-size: 20px;
      margin-bottom: 7px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 78px 0 184px;
    grid-gap: 30px;

    @media (max-width: 1024px) {
      margin-bottom: 100px;
    }

    @media (max-width: 768px) {
      margin: 30px 0 50px;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }

    @media (max-width: 425px) {
      display: block;
    }
  }

  &__card-img {
    object-fit: contain;
    width: 270px;
    height: 200px;
    padding: 0 20px;
    margin-bottom: 56px;

    @media (max-width: 768px) {
      height: 150px;
      margin-bottom: 15px;
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0 38px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

    @media (max-width: 768px) {
      padding: 15px 0 20px;
    }

    &:hover>.products__icons {
      opacity: 1;
    }


    &--list {
      flex-direction: row;
      box-shadow: none;
      margin-bottom: 80px;
      padding-bottom: 64px;

      .products__stars {
        display: block;
      }

      .products__buttons {
        display: block;
      }

      .products__descr {
        display: block;
      }

      .products__icons {
        display: none;
      }

      .products__list-inner {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-between;
      }

      .products__card-img {
        margin-right: 85px;
        margin-bottom: 0;
        width: 370px;
        height: 360px;
      }

      .products__card-name {
        margin-bottom: 27px;
        font-size: 40px;
      }

      .products__stars {
        margin-bottom: 35px;
      }

      .products__card-price {
        margin-bottom: 25px;
        font-size: 30px;
      }

      .products__descr {
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        max-width: 418px;
        overflow: hidden;
        margin-bottom: 25px;
      }
    }
  }

  &__button {
    width: 53px;
    height: 53px;
    background-color: #fff;
    transition: background-color .3s;
    margin-right: 7px;
    outline: #a3bbc8;

    &:hover {
      background-color: #a3bbc8;

      & path {
        fill: #FFF;
      }
    }

    &.products__button--active {
      background-color: #a3bbc8;

      & path {
        fill: #FFF;
      }
    }
  }

  &__card-name {
    @extend %dm-500;
    font-size: 16px;
    line-height: 40px;
    color: #243f4d;
    margin-bottom: 13px;
  }

  &__icons {
    @extend %flex-c;
    @extend %positionCenter;
    transform: translate(-50%, 30%);
    opacity: 0;
    transition: opacity .3s;

    @media (max-width: 425px) {
      transform: translate(0, 0);
    }
  }

  &__icon {
    position: relative;
    margin: 8px;

    & svg {
      @extend %positionCenter;
    }

    &:hover::before {
      background-color: $blue;
    }

    &:hover svg path {
      fill: #fff;
    }

    &::before {
      content: "";
      display: block;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: #fff;
      transition: background-color .3s;
    }
  }

  &__card-name {
    @extend %dm-500;
    line-height: 20px;
    color: #243f4d;
  }

  &__card-price {
    @extend %dm-700;
    color: $blue;
  }


  &__specials-inner {
    @extend %flex-b;
    column-gap: 30px;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__special {
    position: relative;
    width: 100%;
    height: 387px;
    background-color: $light;

    @media (max-width: 768px) {
      height: 300px;
      margin-bottom: 10px;

    }
  }

  &__special-img {
    position: absolute;
    bottom: 85px;
    left: 10%;

    @media (max-width: 1440px) {
      left: 0;
    }

    @media (max-width: 1024px) {
      bottom: 183px;
      right: 15px;
      left: auto;
      width: 30%;
    }

    @media (max-width: 768px) {
      bottom: 20px;
      left: 20px;
      right: auto;
      width: 20%;
    }

    @media (max-width: 425px) {
      width: 30%;
      right: 10px;
      left: auto;
    }
  }

  &__special-content {
    @extend %flex-c;
    flex-direction: column;
    max-width: 259px;
    align-items: flex-start;
    text-align: left;
    padding-top: 84px;
    margin-right: 165px;
    margin-left: auto;

    @media (max-width: 768px) {
      padding-top: 30px;
      margin-right: 130px;
      justify-content: center;
    }

    @media (max-width: 425px) {
      padding: 15px;
      margin: 0;
    }
  }

  &__special-name {
    @extend %dm-700;
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    margin-bottom: 19px;

    @media (max-width: 425px) {
      font-size: 18px;
      line-height: 1.2;
      width: 100%;
    }
  }

  &__special-text {
    @extend %dm-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 33px;

    @media (max-width: 425px) {
      font-size: 16px;
      line-height: 1.5;
      margin: 0 0 15px 0;
      max-width: 200px;
      margin-left: 0;
    }
  }

}