.video {
  padding-bottom: 57px;
  &__img {
    @extend %flex-c;
    width: 100%;
    height: 500px;
    @extend %bg-img;
    @media (max-width: 768px){
      height: 400px;
    }
    @media (max-width: 425px){
      height: 200px;
    }
  }

  &__play {

    &::after {
      @extend %pseudo-icon;
      width: 128px;
      height: 128px;
      background-image: url('../images/icons/play.svg');
      transform: translate(-50%, -50%);
      @media (max-width: 425px){
        width: 50px;
        height: 50px;
      }
    }
  }
}