.about {

  &__content {
    padding-top: 120px;
    @extend %flex-b;
    color: #243f4d;

    @media (max-width: 768px) {
      padding-top: 80px;
    }

    @media (max-width: 425px) {
      padding-top: 50px;
    }
  }

  &__image {
    max-width: 570px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;

    @media (max-width: 1024px) {
      width: auto;
      max-width: 486px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__info {
    padding-left: 45px;
    max-width: 555px;
    width: 100%;

    @media (max-width: 425px) {
      padding-left: 0;
    }
  }

  &__numbers {
    padding-left: 181px;
    position: relative;
    margin-bottom: 50px;

    &::before {
      content: "12";
      @extend %rubik-700;
      font-size: 140px;
      color: #a3bbc8;
      position: absolute;
      left: 0;
      top: 20px;

      @media (max-width: 425px) {
        font-size: 120px;
        top: 26px;
      }
    }

    @media (max-width: 425px) {
      padding-left: 165px;
    }
  }

  &__theme {
    display: block;
    font-size: 16px;
    line-height: 30px;
  }

  &__mission-title {
    font-size: 36px;
    line-height: 1.2;
    @extend %dm-700;
    margin-bottom: 45px;

    @media (max-width: 425px) {
      font-size: 22px;
      margin-bottom: 30px;
    }
  }

  &__text {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 58px;
    position: relative;

    &::after {
      content: "";
      width: 500px;
      height: 1px;
      background-color: #e6eaf0;
      position: absolute;
      bottom: 0;
      left: 0;

      @media (max-width: 425px) {
        width: 100%;
      }
    }
  }

  &__items {
    padding-top: 42px;
    @extend %flex-b;
    @extend %dm-700;

    @media (max-width: 425px) {
      display: block;
    }
  }

  &__num {
    display: block;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 10px;

    @media (max-width: 425px) {
      font-size: 20px;
    }
  }

  &__num-text {
    font-size: 16px;
    line-height: 17px;
    color: #4c4c4c;
  }

  &__item {
    padding-left: 53px;
    position: relative;

    &::before {
      @extend %pseudo-icon;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      @media (max-width: 425px) {
        top: 0;
        left: 50%;
        transform: translatex(-50%);
      }
    }

    &--1::before {
      width: 36px;
      height: 38px;
      background-image: url('../images/icons/pen.svg');
    }

    &--2::before {
      width: 44px;
      height: 40px;
      background-image: url('../images/icons/sound.svg');
    }

    &--3::before {
      width: 40px;
      height: 40px;
      background-image: url('../images/icons/medal.svg');
    }

    @media (max-width: 425px) {
      padding-top: 50px;
      position: relative;
      text-align: center;
      padding-left: 0;
      margin-bottom: 30px;
    }
  }
}