.preferences {
  background-color: #fcd7b6;
  padding: 74px 0;

  &__items {
    @extend %flex-b;
    @extend %dm-700;
    padding: 0 40px;
    color: #243f4d;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      column-gap: 30px;
      justify-content: center;
    }
  }

  &__item {
    @extend %flex-c;
    flex-direction: column;
    padding-top: 87px;
    position: relative;

    &::before {
      @extend %pseudo-icon;
      width: 70px;
      height: 78px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &--1::before {
      background-image: url('../images/icons/preferences/1.svg');
    }

    &--2::before {
      background-image: url('../images/icons/preferences/2.svg');
    }

    &--3::before {
      background-image: url('../images/icons/preferences/3.svg');
    }

    &--4::before {
      background-image: url('../images/icons/preferences/4.svg');
    }
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__num {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      font-size: 22px;
    }
    @media (max-width: 425px) {
      margin-bottom: 0;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 32px;
  }
  @media (max-width: 768px) {
    padding: 30px 0;
  }
}