$accent: #436372;
$beg:#fcd7b6;
$light:#fef7f0;
$blue:#a3bbc8;  
$text-color:#7b7b7b;
$title-color:#191919;
$light-grey:#edf1f4;
$light-blue:#dae4e9;
$dark-blue:#1f2044;

%flex-c{
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-b{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-a{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

%bg-img{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

%pseudo-icon{
  content:"";
  display: block;
  position: absolute;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

%positionCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%)
}

%dm-400{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

%dm-500{
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

%dm-700{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}


%rubik-400{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}
%rubik-500{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}
%rubik-700{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

%title{
  @extend %dm-700;
  font-size: 36px;
  margin-bottom: 34px;
  color: #191919;
  text-align: center;
}



                      