@import 'vars';
@import 'fonts';

@import 'reset';
@import 'global';
@import 'libs';


.header {
  padding: 47px 0 42px;

  &__container {
    max-width: 1782px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  @extend %rubik-500;
  font-size: 36px;

  &__img {
    display: inline;
    vertical-align: middle;
  }

  &__name {
    line-height: 47px;
    vertical-align: bottom;
  }
}

.menu {
  &__items {
    display: flex;
    align-items: center;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;

  }

  &__item {
    &+& {
      margin-left: 28px;
    }
  }
}

.user-nav {
  @extend %flex-b;

  &__layout {
    @extend %flex-c;

    &+& {
      margin-left: 20px;
    }
  }

  &__layout--1,
  &__layout--3 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: $light-grey;
  }

  &__layout--2 {
    position: relative;
    height: 50px;
    width: 179px;
    border-radius: 28px;
    background-color: $beg;
    @extend %flex-a;

    &::after {
      content: "";
      display: block;
      height: 32px;
      width: 1px;
      background-color: #fde7d3;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%)
    }
  }

  &__link--love,
  &__link--cart {
    position: relative;
  }

  &__link--love::after {
    content: "";
    width: 18px;
    height: 16px;
    background-image: url('../images/icons/love.svg');
    @extend %bg-img;
    display: block;
  }

  &__link--cart::after {
    content: "";
    width: 18px;
    height: 16px;
    background-image: url('../images/icons/cart.svg');
    @extend %bg-img;
    display: block;
  }

  &__num {
    font-size: 8px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -10px;
    right: -10px;
    @extend %flex-c;
  }

  &__layout--3 {
    background-color: $blue;
  }

}

.footer {
  @extend %rubik-400;
  color: $text-color;

  .logo__name {
    color: $accent;
  }

  &__top {
    padding: 90px 0 70px;
    @extend %flex-b;
    align-items: baseline;
    text-align: left;
  }

  &__top-address {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;

    .footer__top-text {
      margin-top: 24px;
    }

    & span {
      display: block;
    }
  }

  &__top-title {
    @extend %dm-700;
    color: $dark-blue;
    text-transform: uppercase;
  }

  &__top-item {
    font-size: 14px;
    line-height: 32px;
  }

  &-letter {
    max-width: 273px;
  }

  &__top-input {
    margin-top: 30px;
    border: none;
    height: 38px;
    width: 170px;
    outline-color: $light;

    &::placeholder {
      background-color: $light;
      color: $accent;
      @extend %dm-400;
      font-size: 12px;
      padding-left: 16px;
      line-height: 38px;
    }
  }

  &__top-btn {
    height: 38px;
    padding: 0 16px;
    background-color: $blue;
    color: #fff;
    @extend %dm-400;
    font-size: 14px;
    line-height: 38px;
    margin-left: -6px;
    outline-color: $blue;
  }

  &__bottom {
    @extend %flex-b;

    font-size: 14px;
    line-height: 32px;
    color: $text-color;
    border-top: 1px solid $light-blue;
    padding: 31px 0;
  }

  &__items {
    @extend %flex-b;
  }

  &__item {
    position: relative;
  }

  &__item+&__item {
    margin-left: 30px;
  }

  &__item:not(:first-child)::before {
    content: "";
    display: block;
    height: 17px;
    width: 1px;
    background-color: $text-color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
  }
}

.top-slider {
  &__container {
    max-width: 1782px;
    background-color: $beg;
    margin: 0 15px;
  }

  &__inner {
    position: relative;
    height: 823px;
    display: flex;
    align-items: center;
  }

  &__inner::before {
    content: "";
    display: block;
    width: 634px;
    height: 634px;
    background-image: url('../images/slider/gradient.png');
    position: absolute;
    left: 57%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__item {
    display: flex !important;
    position: relative;
    justify-content: space-around;
  }

  &__img {
    z-index: 2;
    object-fit: contain;
  }

  &__content {
    align-self: flex-start;
    max-width: 29%;
  }

  &__title {
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    text-transform: uppercase;
  }

  &__text {
    max-width: 357px;
    padding: 40px 0 47px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: $accent;
  }

  &__btn {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    background-color: $blue;
    padding: 24px 18px 24px 25px;
    outline-color: $blue;

    &::after {
      content: "";
      background-image: url('../images/icons/arrow.svg');
      width: 22px;
      height: 9px;
      display: inline-block;
      margin-left: 60px;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 44px;
    left: 50%;
    transform: translateX(-50%);

    li {
      padding: 6px;

      button {
        padding: 0;
        font-size: 10.88px;
        line-height: 8.7px;
        background-color: #fde3ce;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        outline: none;
      }

      &.slick-active {
        & button {
          background-color: #fff;
        }

      }
    }
  }
}

.support {
  &__items {
    background-color: $light;
    display: flex;
    justify-content: space-between;

    padding: 55px 150px 55px 225px;
    margin: 0 15px;
  }


  &__item {
    max-width: 205px;
    // margin-left: 24px;
    position: relative;

    &.item-1::before {
      width: 51px;
      height: 53px;
      left: -75px;
      top: 50%;
      transform: translateY(-50%);
      @extend %pseudo-icon;
      background-image: url('../images/icons/delivery.svg');
    }

    &.item-2::before {
      width: 54px;
      height: 36px;
      left: -78px;
      top: 50%;
      transform: translateY(-50%);
      @extend %pseudo-icon;
      background-image: url('../images/icons/track.svg');
    }

    &.item-3::before {
      width: 54px;
      height: 52px;
      left: -78px;
      top: 50%;
      transform: translateY(-50%);
      @extend %pseudo-icon;
      background-image: url('../images/icons/payment.svg');
    }
  }

  &__item-title {
    @extend %dm-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }

  &__item-text {
    @extend %dm-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }
}

.products {
  padding-top: 67px;
  background-color: #fff;

  &__title {
    @extend %title;
  }

  &__menu {
    @extend %flex-c;
    @extend %dm-700;
    font-size: 16px;
    color: $text-color;

    &-item:hover {
      color: #191919;
    }

    &-item+&-item {
      margin-left: 30px;
    }

    &-link.here {
      color: #191919;
    }
  }

  &__cards {
    display: grid;
    grid-template-rows: '1fr 1fr';
    grid-template-columns: repeat(4, 1fr);
    margin-top: 78px;
    grid-gap: 30px;
    margin-bottom: 184px;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0 38px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

    &:hover>.products__icons {
      opacity: 1;
    }
  }

  &__card-img {
    margin-bottom: 56px;
  }

  &__icons {
    @extend %flex-c;
    @extend %positionCenter;
    transform: translate(-50%, 30%);
    opacity: 0;
    transition: opacity .3s;

    & img {
      @extend %positionCenter;
    }
  }

  &__icon {
    position: relative;

    &:hover::before {
      background-color: $light-grey;
    }
  }

  &__icon::before {
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color .3s;
  }

  &__card-name {
    @extend %dm-500;
    line-height: 20px;
    color: #243f4d;
  }

  &__card-price {
    @extend %dm-700;
    color: $blue;
  }

  &__specials {
    .special-container {
      max-width: 1800px;
      padding: 0 15px;
    }
  }

  &__specials-inner {
    @extend %flex-b;
    column-gap: 30px;
  }

  &__special {
    position: relative;
    width: 100%;

    flex-wrap: wrap;
    height: 387px;
    background-color: $light;

    & img {
      position: absolute;
      bottom: 85px;
      left: 8%;
    }
  }

  &__special-content {
    @extend %flex-c;
    flex-direction: column;
    max-width: 259px;
    align-items: flex-start;
    text-align: left;
    padding-top: 84px;
    margin-right: 159px;
    margin-left: auto;
  }

  &__special-name {
    @extend %dm-700;
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    margin-bottom: 19px;
  }

  &__special-text {
    @extend %dm-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 33px;
  }

  &__special-btn {
    padding: 20px;
    background-color: transparent;
    color: $accent;
    border: 1px solid #e0e0e0;
    border-radius: 5px;

    &::after {
      background-image: url('../images/icons/arrow2.svg');
    }
  }
}

.new-design {
  padding: 100px 0 120px;

  &__cards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    height: 526px;
    width: 100%;
    margin-top: 77px;
  }

  &__card {
    @extend %bg-img;
    text-align: left;
    padding: 40px 0 0 35px;
    height: 248px;
  }

  &__name {
    @extend %dm-700;
    max-width: 165px;
    font-size: 20px;
    color: #191919;
  }

  &__category {
    @extend %dm-700;
    font-size: 16px;
    color: #a3bbc8;
    margin-top: 19px;
  }
}

.video {
  &__img {
    @extend %flex-c;
    width: 100%;
    height: 500px;
    @extend %bg-img;
  }

  &__play {

    &::after {
      @extend %pseudo-icon;
      width: 128px;
      height: 128px;
      background-image: url('../images/icons/play.svg');
      transform: translate(-50%, -50%);
    }
  }
}

.blog {
  padding-top: 114px;

  &__top {
    @extend %flex-b;
  }

  &__title {
    @extend %title;
  }

  &__link {
    @extend %dm-700;
    position: relative;
    font-size: 16px;
    color: #191919;
    padding-right: 23px;

    &::after {
      width: 7px;
      height: 13px;
      top: 0;
      right: 0;
      top: 8px;
      @extend %pseudo-icon;
      background-image: url('../images/icons/view.svg');
    }
  }

  &__items {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__item {
    text-align: left;
  }

  &__img {
    height: 251px;
    width: 100%;
    object-fit: cover;
  }

  &__img-link {
    position: relative;
  }

  &__img-link::after {
    content: "news";
    text-align: center;
    display: block;
    z-index: 4;
    position: absolute;
    top: -47px;
    left: 0;
    text-transform: uppercase;
    width: 103px;
    height: 30px;
    background-color: rgb(163, 187, 200);
    color: #fff;
    @extend %rubik-700;
    font-size: 14px;
    border-radius: 20px;
  }

  &__bottom{
    padding: 34px 26px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background: #fff;
  }
  &__item:last-child>.blog__bottom>.blog__text{
    padding-bottom: 18px;
  }

  &__text {
    @extend %dm-500;
    font-size: 18px;
    line-height:20px;
    color: #262626;
    margin-bottom: 17px;
    &:last-child{
      padding-bottom: 18px;
    }
  }

  &__data {
    text-transform: uppercase;
    @extend %rubik-500;
    font-size: 12px;
    line-height: 56px;
    color: #262626;
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;

    & li {
      display: inline;

      &::before {
        content: "\2610";
        margin-right: 7px;
      }
    }
  }

  &__autor {
    margin-left: 33px;
  }
}

.partners{
  background-color: $light;
  padding:264px 0 89px;
  margin-top: -168px;
  z-index: -1;
  &__inner{
    @extend %flex-a;
  }
}






@import 'media';