.terms{
  color: $accent;
  padding: 108px 0 51px;
  @media (max-width:425px) {
    padding: 30px 0 30px;
  }
  &__title{
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 23px;
    @media (max-width:425px) {
      font-size: 21px;
      margin-bottom: 0;
    }
  }
  &__title--main{
    margin-bottom: 30px;
    @media (max-width:425px) {
      margin-bottom: 10px;
    }
  }

  &__list{
    list-style-type: none;
    counter-reset: num;
  }

  &__item{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 26px;
    &::before{
      content: '0' counter(num) '. ';
      counter-increment: num;
      margin-right: 9px;
    }
    @media (max-width:425px) {
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  &__wrapper{
    margin-bottom: 68px;
    @media (max-width:425px) {
      margin-bottom: 10px;
    }
  }

  &__item--text{
    margin-bottom: 68px;
    &::before{
      display: none;
    }
    &:last-child{
      margin-bottom: 0;
    }
    @media (max-width:425px) {
      margin-bottom: 10px;
    }
  }
}