.blog {
  padding-top: 114px;

  &__top {
    @extend %flex-b;
  }

  &__title {
    @extend %title;
    margin-bottom: 47px;
  }

  &__link {
    @extend %dm-700;
    position: relative;
    font-size: 16px;
    color: #191919;
    padding-right: 23px;

    &::after {
      width: 7px;
      height: 13px;
      top: 0;
      right: 0;
      top: 8px;
      @extend %pseudo-icon;
      background-image: url('../images/icons/view.svg');
    }
  }

  &__items {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__item {
    text-align: left;
  }

  &__img {
    height: 251px;
    width: 100%;
    object-fit: cover;
  }

  &__img-link {
    position: relative;
  }

  &__img-link::after {
    content: "news";
    text-align: center;
    display: block;
    z-index: 4;
    position: absolute;
    top: -47px;
    left: 0;
    text-transform: uppercase;
    width: 103px;
    height: 30px;
    background-color: rgb(163, 187, 200);
    color: #fff;
    @extend %rubik-700;
    font-size: 14px;
    border-radius: 20px;
  }

  &__bottom {
    padding: 34px 26px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
  }

  &__item:last-child .blog__text {
    padding-bottom: 18px;
  }

  &__text {
    @extend %dm-500;
    font-size: 18px;
    line-height: 20px;
    color: #262626;
    margin-bottom: 17px;

    &:last-child {
      padding-bottom: 18px;
    }
  }

  &__data {
    text-transform: uppercase;
    @extend %rubik-500;
    font-size: 12px;
    line-height: 56px;
    color: #262626;
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;

    & li {
      display: inline;

      &::before {
        content: "\2610";
        margin-right: 7px;
      }
    }
  }

  &__autor {
    margin-left: 33px;
  }
}