.article {


  &__item {
    text-align: left;
  }

  &__img {
    height: 251px;
    width: 100%;
    object-fit: cover;
  }

  &__img-link {
    position: relative;


    &::after {
      content: "news";
      text-align: center;
      display: block;
      z-index: 4;
      position: absolute;
      top: -47px;
      left: 0;
      text-transform: uppercase;
      width: 103px;
      height: 30px;
      background-color: rgb(163, 187, 200);
      color: #fff;
      @extend %rubik-700;
      font-size: 14px;
      border-radius: 20px;
    }
  }

  &__bottom {
    padding: 34px 26px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
  }

  &:last-child .article__text {
    padding-bottom: 18px;
  }

  &__text {
    @extend %dm-500;
    font-size: 18px;
    line-height: 20px;
    color: #262626;
    margin-bottom: 17px;
    text-align: left;
    overflow-y: hidden;
    min-height: 60px;
  }

  &__data {
    display: flex;
    align-items: center;
    height: 60px;
    align-items: center;
    text-transform: uppercase;
    @extend %rubik-500;
    font-size: 12px;
    line-height: 30px;
    color: #262626;
    border-top: 1px solid #e0e0e0;
  }

  &__date {
    margin-right: 25px;
  }

  &__date::before,
  &__author::before {
    content: "\2610";
    margin-right: 7px;
  }
}