.btn {
  @extend %rubik-500;
  font-size: 15px;
  line-height: 12px;
  color: #fff;
  background-color: $blue;
  padding: 24px 18px 24px 25px;
  outline-color: $blue;

  &::after {
    content: "";
    background-image: url('../images/icons/arrow.svg');
    width: 22px;
    height: 9px;
    display: inline-block;
    margin-left: 60px;
  }

  &--transparent {
    padding: 20px;
    background-color: transparent;
    color: $accent;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
      &::after {
      background-image: url('../images/icons/arrow2.svg');
    }
  }
  &--radius{
    border-radius: 5px;
    padding: 18px 25px 18px 18px;
    &::after{
      margin-left: 18px;
    }
  }
  &--form{
    width: 100%;
    font-size: 18px;
    &::after{
      display: none;
    }
  }
  &--account {
    font-size: 18px;
    width: 100%;
    padding: 20px;
    margin: 20px auto 0;
    background-color: transparent;
    color: $accent;
    border: 1px solid $accent;
      &::after {
      display: none;
    }
  }
  @media (max-width: 425px){
    font-size: 12px;
    padding: 10px;
    &::after{
      display: none;
    }
  }
}

