.footer {
  @extend %rubik-400;
  color: $text-color;

  &__top {
    padding: 90px 0 70px;
    @extend %flex-b;
    align-items: baseline;
    text-align: left;
  }

  &__top-block {
    max-width: 200px;
  }

  &__top-address {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
  }

  &__top-text,
  &__address-link {
    display: block;
    margin-top: 24px;
  }

  &__top-title {
    @extend %dm-700;
    color: $dark-blue;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__top-item {
    font-size: 14px;
    line-height: 32px;
  }

  &__top-link{
    cursor: pointer;
  }

  &__top-block--letter {
    max-width: 273px;
  }

  &__input {
    margin-top: 30px;
    border: none;
    height: 38px;
    width: 170px;
    outline-color: $light;
    padding:0 7px;
    background-color: $light;
    color: $accent;
    @extend %dm-400;

    &::placeholder {
      background-color: $light;
      color: $accent;
      @extend %dm-400;
      font-size: 12px;
      line-height: 38px;
      padding-left: 16px;
    }
  }

  &__btn {
    height: 38px;
    padding: 0 16px;
    background-color: $blue;
    color: #fff;
    @extend %dm-400;
    font-size: 14px;
    line-height: 38px;
    margin-left: -6px;
    outline-color: $blue;
  }

  &__bottom {
    @extend %flex-b;

    font-size: 14px;
    line-height: 32px;
    color: $text-color;
    border-top: 1px solid $light-blue;
    padding: 31px 0;
  }

  &__items {
    @extend %flex-b;
  }

  &__item {
    position: relative;
    & + &{
      margin-left: 30px;
    }
    &:not(:first-child)::before {
      content: "";
      display: block;
      height: 17px;
      width: 1px;
      background-color: $text-color;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -15px;
    }
  }


}