.header {
  padding: 47px 0 42px;

  &__container {
    max-width: 1782px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__items {
    display: flex;
    align-items: center;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;

  }

  &__item:not(:last-child) {
      margin-right: 28px;
    }
  }
  

.user-nav {
  @extend %flex-b;

  &__layout {
    @extend %flex-c;
    position: relative;

    &+& {
      margin-left: 20px;
    }
  }

  &__layout--1,
  &__layout--3 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: $light-grey;
  }

  &__layout--2 {
    position: relative;
    height: 50px;
    width: 179px;
    border-radius: 28px;
    background-color: $beg;
    @extend %flex-a;

    &::after {
      content: "";
      display: block;
      height: 32px;
      width: 1px;
      background-color: #fde7d3;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%)
    }
  }

  &__link--love,
  &__link--cart {
    position: relative;
    width: 89px;
    height: 50px;
  }

  &__link--love::after {
    content: "";
    width: 18px;
    height: 16px;
    background-image: url('../images/icons/love.svg');
    @extend %bg-img;
    display: block;
    @extend %positionCenter;
  }

  &__link--cart::after {
    content: "";
    width: 18px;
    height: 16px;
    background-image: url('../images/icons/cart.svg');
    @extend %bg-img;
    display: block;
    @extend %positionCenter;
  }

  &__link {
    svg {
      @extend %positionCenter;
    }
  }

  &__num {
    font-size: 8px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 26px;
    @extend %flex-c;
    z-index: 1;
  }

  &__layout--3 {
    background-color: $blue;
  }
}