.about {
  padding-bottom: 120px;
}

.title {
  &__title {
    background-color: #edf1f4;
    padding: 32px 0;
    @extend %flex-c;
    flex-direction: column;
  }

  &__name {
    color: #222933;
    @extend %rubik-400;
    font-size: 36px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}

.breadcrumbs {
  &__link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #222933;
    &::after {
      content: "/";
      display: inline-block;
      margin: 0 7px;
    }

    &:last-child {
      color: #191919;
      &::after{
        display: none;
      }

    }
  }
}